body{
    /*position: relative;*/

}
html,body{
    box-sizing: border-box; min-height: 100%;
}
.quan{
    width: 100%;
    height:auto;
    overflow: hidden;
    transition:3s;
}
.side1{
/*    position: absolute;
    left: 0;
    right:0;
    top:0;*/
    overflow: auto;
    width: 100%;
    height:100%;
    z-index: 1;
    background: #fff;
    display: block;
    transition:3s;
}
.active{
    top:0;
    display: none;
    transition:3s;
}

.video{
    width: 100%;
    height:4.6rem;
}
.chuanxing{
    height:1.27rem;
    width: 2.32rem;
    margin: 0 auto;
    margin-top: 0.44rem;
    margin-bottom: 0.38rem;
}
.chuanxing img{
    width: 100%;
    height:100%;
    display: block;
}
.zi{
    margin: 0 auto;
    width: 100%;
    height:auto;
    font-family: "微软雅黑";
    font-weight: lighter;
    font-size: 0.18rem;
    line-height: 0.5rem;
    color: #949494;
    text-align: center;
    /*transform: scale(0.90);
    transform-origin:0 0;

    -ms-transform: scale(0.90);         !* IE 9 *!
    -ms-transform-origin:0 0;       !* IE 9 *!

    -webkit-transform: scale(0.90); !* Safari 和 Chrome *!
    -webkit-transform-origin:0 0;   !* Safari 和 Chrome *!

    -moz-transform: scale(0.90);        !* Firefox *!
    -moz-transform-origin:0 0;      !* Firefox *!

    -o-transform: scale(0.90);      !* Opera *!
    -o-transform-origin:0 0;*/
}
.wx{
    width: 100%;
    height:0.26rem;
    line-height: 0.26rem;
    font-size: 0.24rem;
    margin-top: 0.4rem;
    font-family: "微软雅黑";
    font-weight: lighter;
    color: #949494;
    text-align: center;
}
@keyframes mymove
{
    0%{top:0.19rem;}
    10%{
        top:0.21rem;
    }
    20%{
        top:0.23rem;
    }
   30%{
        top:0.25rem;
    }
    40%{
        top:0.27rem;
    }
    60%{
        top:0.29rem;
    }
    70%{
        top:0.31rem;
    }
    80%{
        top:0.33rem;
    }
    80%{
        top:0.34rem;
    }
    100% {top:0.35rem;}
}

@-moz-keyframes mymove /* Firefox */
{
    0%{top:0.19rem;}
    10%{
        top:0.21rem;
    }
    20%{
        top:0.23rem;
    }
    30%{
        top:0.25rem;
    }
    40%{
        top:0.27rem;
    }
    60%{
        top:0.29rem;
    }
    70%{
        top:0.31rem;
    }
    80%{
        top:0.33rem;
    }
    80%{
        top:0.34rem;
    }
    100% {top:0.35rem;}
}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
    0%{top:0.19rem;}
    10%{
        top:0.21rem;
    }
    20%{
        top:0.23rem;
    }
    30%{
        top:0.25rem;
    }
    40%{
        top:0.27rem;
    }
    60%{
        top:0.29rem;
    }
    70%{
        top:0.31rem;
    }
    80%{
        top:0.33rem;
    }
    80%{
        top:0.34rem;
    }
    100% {top:0.35rem;}
}

@-o-keyframes mymove /* Opera */
{
    0%{top:0.19rem;}
    10%{
        top:0.21rem;
    }
    20%{
        top:0.23rem;
    }
    30%{
        top:0.25rem;
    }
    40%{
        top:0.27rem;
    }
    60%{
        top:0.29rem;
    }
    70%{
        top:0.31rem;
    }
    80%{
        top:0.33rem;
    }
    80%{
        top:0.34rem;
    }
    100% {top:0.35rem;}
}
.c-xx{
    width: 100%;
    height:0.91rem;
    position: relative;
}
.xiangxia{
    -webkit-animation:mymove 0.8s infinite;
    width: 0.48rem;
    height:0.46rem;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    animation:mymove 0.8s infinite;
}
.xiangxia img{
    width: 100%;
    height:100%;
    display: block;
}
.c-logo{
    width: 0.9rem;
    height:0.26rem;
    margin: 0 auto;
    margin-top: 0.41rem;
}
.c-logo img{
    width: 100%;
    height:100%;
    display: block;
}
.c-zi{
    width: 100%;
    height:1.25rem;
    color: #949494;
    font-size: 0.18rem;
}
.c-zi span{
    width: 100%;
    height:auto;
    display: block;
    text-align: center;
    font-size: 0.24rem;
    font-family: "微软雅黑";
    font-weight: lighter;
}
.c-zi span:nth-child(1){
    line-height: 0.28rem;
    font-family: "微软雅黑";
    font-weight: lighter;
}
.c-zi span:nth-child(2){
    line-height: 0.74rem;
    font-family: "微软雅黑";
    font-weight: lighter;
}
#c-lb1{
    width: 5.2rem;
    height: 6.85rem;
}
/*#c-lb1 .c-lb2 .c-lb{
    width: 4.42rem !important;
    height:6.70rem;
    padding: 0 0.19rem;
    margin: 0 auto;
}
#c-lb1 .c-lb2 .swiper-slide-active{
    width: 5.2rem !important;
}*/
/*.c-lb2{
    width: 6.4rem !important;
}*/
.c-lb a img{
    width: 100%;
    height:100%;
    display: block;
}
.c-hei{
    width: 100%;
    height:1.10rem;
    font-size: 0.28rem;
    color: #000000;
    font-family: "苹方 粗体";
    margin-top: 0.58rem;
}
.c-hei span{
    line-height: 0.55rem;
    text-align: center;
    width: 100%;
    height:auto;
    display: block;
}
.c-heixia{
    width: 100%;
    height:1.2rem;
    color: #AEAEAE;
    line-height: 0.4rem;
    font-size: 0.24rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.7rem;
    font-family: "微软雅黑";
    font-weight: lighter;
}
.c-tp{
    width: 5.2rem;
    height:5.38rem;
}
#c-tp1{
    width: 5.2rem;
    height:5.38rem;
}
.c-tp1{
    width: 5.2rem;
    height:5.38rem;
    z-index: 1;
}
.c-tp img{
    width: 100%;
    height:100%;
    display: block;
}
.wx1{
     margin-top: 0.95rem;
 }
.wx2{
    margin-top: 0.5rem;
}




/*第四屏*/
.c-banner{
    width: 100%;
    height:3.57rem;
}
.c-banner img{
    width: 100%;
    height:100%;
    display: block;
}
.c-tb{
    width: 5.26rem;
    height:1.06rem;
    margin: 0 auto;
    margin-top: 0.55rem;
}
.c-tb ul{
    width: 100%;
    height:100%;
}
.c-tb ul li{
    width: 1.06rem;
    height:1.06rem;
    float: left;
    margin-left: 0.34rem;
}
.c-tb ul li:nth-child(1){
    margin-left: 0;
}
.c-tb ul li a{
    width: 100%;
    height:100%;
}
.c-tb ul li a img {
    width: 100%;
    height:100%;
    display: block;;
}
.c-hei1{
    margin-top: 0.32rem;
    height:0.85rem;
}
.zi1{
    margin-top: 0.37rem;
    line-height: 0.46rem;
}
#c-span{
    line-height: 0.3rem;
}
.wx3{
    margin-top: 0.7rem;
}


/*第五屏*/
.c-banner1{
    height:3.9rem;
}
#c-span1{
    line-height: 0.3rem;
}
.c-hei2{
    margin-top: 0.4rem;
}
.zi2{
    margin-top: 0.47rem;
}
.c-tb11{
    height:1.5rem;
}
.c-tb11 ul li a img{
    width: 1.06rem;
    height:1.06rem;
    display: block;
}
.c-tb11 ul li a span{
    width: 100%;
    height:0.24rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    text-align: center;
    margin-top: 0.19rem;
    display: block;
    color: #919191;
}

/*第7频*/
.jc-7{
    width: 100%;
    height: auto;
    padding: 0.48rem 0.32rem 0.1rem 0.32rem ;
}
.jc-7-one{
    width: 100%;
    height: 1.84rem;
    overflow: hidden;
    margin-bottom: 0.62rem;
    position: relative;
}
.js-7-one1{
    margin-bottom: 0;
}
.wx4{
    margin-top: 0.4rem;
}
.jc-7-one-tx {
    width: 0.84rem;
    height: 0.84rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top:0.12rem;
}

.jc-7-one-tx img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.jc-7-one-tx .c-ds{
    width: 0.35rem;
    height:0.18rem;
    position: absolute;
    right:-0.08rem;
    bottom:0rem;
    border-radius: 0.09rem;
    border: 0.02rem solid #fff;
}
.jc-name{
    font-size: 0.2rem;
    position: absolute;
    top: 1.28rem;
    left: 0.12rem;
    color: #797979;
}
.jc-7-ch {
    width: 0.4rem;
    height: 0.2rem;
    position: absolute;
    left: 0.5rem;
    top: 0.8rem;
    border-radius: 0.2rem;
    background:-moz-linear-gradient(top, red, rgba(0, 0, 255,0.8));
    background:-webkit-gradient(linear, 0 0, 0 bottom, 0%(#ff0000), to(rgba(250, 255, 24, 0.8)));
    font-size: 0.12rem;
    color: #fff;
    line-height: 0.2rem;
    text-align: center;
}
.jc-7-name-ch {
    font-size: 0.2rem;
    color: #000;
    position: absolute;
    left: 1.26rem;
    top: 0.2rem;
}
.jc-7-js{
    width: 4.6rem;
    height: 1.26rem;
    font-size: 0.18rem;
    color: #909292;
    position: absolute;
    left: 1.12rem;
    top:0.58rem;
    background: #F2F7F7;
    border-radius: 0.1rem;
    box-shadow: -0.02rem -0.02rem 0.1rem #E9E9E9;
}
.jc-7-js p{
    width: 3.24rem;
    height: 1.1rem;
    padding:  0.12rem 0.18rem;
    line-height: 0.34rem;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    font-family: "微软雅黑";
    font-weight: lighter;
}
.jc-7-pot{
    width: 1.24rem;
    height: 1.7rem;
    position: absolute;
    top: 0;
    left:4.46rem;
}
.jc-7-pot img {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*第8频*/
.c-hb{
    width: 100%;
    height:7.43rem;
    position: relative;
}
.c-hb img:nth-child(1){
    width: 100%;
    height:100%;
    display: block;
}
.c-hb img:nth-child(2){
    width: 1.35rem;
    height:0.7rem;
    position: absolute;
    left: 0;
    right:0;
    bottom:-0.25rem;
    margin: auto;
}
.c-sh{
    width: 3.8rem;
    height:0.68rem;
    margin: 0 auto;
    margin-top: 0.55rem;
}
.c-sh img{
    width: 100%;
    height:100%;
    display: block;
}
.c-sy{
    width: 3.6rem;
    height:0.69rem;
    margin: 0 auto;
    margin-top: 0.02rem;
}
.c-sy img{
    width: 100%;
    height:100%;
    display: block;
}
.c-yuyue{
    width: 3.8rem;
    height:0.64rem;
    margin: 0 auto;
    border-radius: 0.32rem;
    margin-top: 0.45rem;
    background: #000;
}
.c-yuyue a{
    width: 100%;
    height:100%;
    display: block;
    font-size: 0.26rem;
    color: #fff;
    text-align: center;
    line-height: 0.64rem;
}
.c-hei5{
    height:0.29rem;
    margin-top: 0.21rem;
    margin-bottom: 0.36rem;
}
.c-hei5 span{
    line-height: 0.29rem;
}